::selection {
  @include selection;
}

::-moz-selection {
  @include selection;
}

/* ----------------------------- */
/* ----------- TEXTS ----------- */
/* ----------------------------- */

// all texts
h1,
h2,
h3,
h4,
h5,
h6,
p,
i {
  font-family: "Oswald", sans-serif;
  margin: 0;
  text-decoration: none;
}

// headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: $text-headings;
}

// body texts
p,
span,
strong,
i {
  color: $text-body;
}

p {
  font-family: "Open Sans", sans-serif;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  @include global-animation;
  color: $primary-base;
  text-decoration: none;
  &:hover {
    color: $accent-base;
  }
}

/* ----------------------------- */
/* ---------- CLASSES ---------- */
/* ----------------------------- */

.inner {
  max-width: $SECTION_WIDTH;
  padding: 0 60px;
  width: 100%;

  @include max-tablet {
    padding: 0 40px;
  }

  @include max-mobile {
    padding: 0 15px;
  }
}

.section {
  width: 100%;
  justify-content: center;
  display: flex;
}

.vertical-space {
  margin: 60px 0;

  @include max-tablet {
    margin: 40px 0;
  }

  @include max-mobile {
    margin: 15px 0;
  }
}

// icons
a.icon {
  display: flex;
  align-items: center;
  svg {
    @include global-animation;
    fill: $primary-light;
  }
  &:hover {
    svg {
      fill: $accent-base;
    }
  }
}

/* ----------------------------- */
/* ---------- BUTTONS ---------- */
/* ----------------------------- */

.btn {
  @include global-animation;
  @include primary-font;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.99);
  }

  &.btn-primary {
    background-color: $primary-base;
    box-shadow: 0 0 0 0 $primary-base;
    color: white;
    font-weight: 300;
    &:hover,
    &:focus {
      background-color: $accent-base;
      box-shadow: 0 2px 3px 0px rgba($accent-light, 0.5),
        inset 0 0 0px 1px rgba($accent-dark, 0.75);
      text-shadow: 0 1px 0 $accent-dark;
    }
  }

  &.btn-outline-primary {
    box-shadow: inset 0 0 0 2px $primary-base;
    background-color: transparent;
    color: $primary-base;
    &:hover,
    &:focus {
      color: $accent-base;
      box-shadow: inset 0 0 0px 2px rgba($accent-base, 0.75);
    }
  }

  &.btn-sm {
    padding: 8px 50px;
    padding-bottom: 10px;
  }

  &.btn-md {
    padding: 10px 75px;
    padding-bottom: 12px;
    @include max-tablet {
      padding: 10px 60px;
    }
  }
}

button {
  &.link {
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    border-width: 0px;
    border-style: none;
    &:focus {
      outline: none;
    }
  }
}

/* ----------------------------- */
/* ----------- CONTENT --------- */
/* ----------------------------- */

#content {
  position: relative;
  min-height: calc(100vh - #{$FOOTER_HEIGHT_DESKTOP});

  @include max-tablet {
    min-height: calc(100vh - #{$FOOTER_HEIGHT_TABLET});
  }

  @include max-mobile {
    min-height: calc(100vh - #{$FOOTER_HEIGHT_MOBILE});
  }

  header {
    border-bottom: 1px solid $borders-light;
    &.menu-open {
      border-bottom-color: $borders-base;
    }
  }
}

/* ----------------------------- */
/* --------- HEADER -------- */
/* ----------------------------- */

#menu-icons {
  display: none;
  @include max-tablet {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
  }
  .menu-icon {
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: flex-end;
    svg {
      display: block;
      width: 15px;
    }
  }
}

/* ----------------------------- */
/* ------- NAV-MENUS ------- */
/* ----------------------------- */

// MOBILE MENU
#mobile-nav {
  @include global-animation;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 100%;
  overflow: hidden;
  background-color: white;
  z-index: 999;

  top: $HEADER_HEIGHT_DESKTOP + 1;

  @include max-tablet {
    top: $HEADER_HEIGHT_TABLET + 1;
  }

  @include max-mobile {
    top: $HEADER_HEIGHT_MOBILE + 1;
  }

  &.open {
    bottom: 0;
  }

  // List items! (first level)
  li.menu-item {
    a {
      cursor: pointer;
      border-bottom: 1px solid $borders-light;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 25px 40px;
      font-size: 18px;
      font-weight: 300;

      @include max-mobile {
        padding: 20px 15px;
      }

      &:hover {
        background-color: lighten($bg-light, 3%);
        color: $accent-base;

        &:before {
          border-color: $accent-base;
        }
      }
    }

    // Current!
    &.current-menu-item {
      & > a {
        color: $accent-base;
        // font-weight: 400;
        &:before {
          border-color: $accent-base;
        }
      }
    }
  }

  // seconda level
  li.menu-item-has-children {
    position: relative;
    & > a::after {
      @include global-animation;
      content: "";
      width: 4px;
      height: 4px;
      transform: rotate(45deg);
      position: absolute;
      right: 0;
      margin-right: 40px;
      border-radius: 1px;
      border-right: 2px solid $primary-base;
      border-bottom: 2px solid $primary-base;
    }
    a {
      &:hover {
        &::after {
          border-color: $accent-base;
        }
      }
    }

    ul.sub-menu {
      background-color: lighten($bg-light, 3%);
      li.menu-item {
        a {
          font-size: 17px;
          padding: 20px 0px 23px 55px;
          letter-spacing: 0.5px;
          color: $primary-dark;
          &:hover {
            background-color: lighten($bg-light, 2%);
          }
        }
      }
      li.current-menu-item {
        a {
          color: $accent-base;
        }
      }
    }
  }
}
