@import "_fonts.scss";
@import "variables.scss";
@import "media-queries.scss";
@import "mixins.scss";

body {
  @include primary-font;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  @include selection;
}

::-moz-selection {
  @include selection;
}

* {
  &:focus {
    outline: none;
  }
}

/* ----------------------------- */
/* ----------- TEXTS ----------- */
/* ----------------------------- */

// all texts
h1,
h2,
h3,
h4,
h5,
h6,
p,
i {
  @include primary-font;
  margin: 0;
  text-decoration: none;
}

// headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: $text-headings;
}

// body texts
p,
span,
strong,
i {
  color: $text-body;
}

p {
  font-weight: 300;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  @include global-animation;
  color: $primary-base;
  text-decoration: none;
  &:hover {
    color: $accent-base;
  }
}

/* ----------------------------- */
/* ---------- BUTTONS ---------- */
/* ----------------------------- */

button {
  // remove default style
  @include global-animation;
  cursor: pointer;
  color: $primary-dark;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  background-color: transparent;
  padding: 0;
  border-width: 0px;
  border-style: none;
  &:focus {
    outline: none;
  }
  &:hover {
    color: $accent-base;
  }
}
