@import "../styles/variables";
@import "../styles/mixins";

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.main {
  text-align: center;
}

.title {
  margin-bottom: $space-md;
  h1 {
    font-size: 125px;
    line-height: 1em;
  }
}

.body {
  margin-bottom: $space-lg;
  p {
    @include primary-font;
    color: $primary-light;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.2px;
  }
}

.cta a {
  @include global-animation;
  padding: $space-sm $space-xs;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    @include global-animation;
    margin-right: 10px;
  }
  &:hover {
    span {
      transform: translateX(-2px);
      color: $accent-dark;
    }
  }
}
