@import "../styles/variables";
@import "../styles/mixins";
@import "../styles/media-queries";

$borderRadius: 3px;

.inner {
  max-width: 550px;
}

.body {
  margin: $space-md * 3 0 0;
  border-bottom: 1px solid $borders-light;
  padding-bottom: $space-md * 3;
  @include max-mobile {
    margin: $space-md * 2 0 0;
    padding-bottom: $space-md * 2;
  }
}

.card-title {
  width: 100%;
  font-size: 90px;
  margin-bottom: $space-md;
  text-shadow: 0 1px 0 white;
  text-align: center;
  @include max-mobile {
    font-size: 50px;
    margin-bottom: $space-sm;
  }
}

.card-body {
  text-align: center;
  font-size: 18px;
  color: $primary-light;
  line-height: 2em;
  margin-bottom: $space-md * 2;
  letter-spacing: 0.1px;
  @include max-mobile {
    margin-bottom: $space-lg;
  }
  a {
    &,
    span {
      color: $accent-base;
    }
    span {
      font-size: 13px;
      margin-left: 4px;
    }
    &:hover {
      &,
      span {
        color: $accent-dark;
      }
    }
  }
}

.card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.card-image {
  @include global-animation;
  max-width: 125px;
  max-height: 125px;
  width: 100%;
  height: auto;
  margin-bottom: $space-md;
  &,
  img {
    border: 1px solid $borders-base;
  }
  border-radius: 50%;
  box-shadow: 0 2px 5px -3px rgba($bg-base, 0.15%);
}

.card-content {
  width: 100%;
}

.tags {
  $margin: 3px;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -$margin;
  li {
    @include global-animation;
    cursor: default;
    background-color: lighten($borders-base, 6%);
    color: $primary-light;
    font-size: 16px;
    padding: $space-xs $space-sm 10px;
    border-radius: 2px;
    line-height: 1em;
    letter-spacing: 0.5px;
    margin: $margin $margin $margin * 2 $margin;
    margin-top: 0;
    text-shadow: 0 1px 0 $borders-light;
    font-size: 18px;
    font-weight: 300;
    &:hover {
      background-color: $borders-base;
      color: $primary-dark;
    }
  }
}
