@import "../styles/variables";
@import "../styles/mixins";
@import "../styles/media-queries";

$borderRadius: 3px;

.inner {
  max-width: 550px;
}

.body {
  margin: $space-md * 3 0 0;
}

.card-title {
  width: 100%;
  text-transform: capitalize;
  font-size: 75px;
  margin-bottom: $space-sm;
  text-shadow: 0 1px 0 white;
  text-align: center;
}

.card-body {
  letter-spacing: -0.1px;
  text-align: center;
  font-size: 16px;
  color: $primary-light;
  line-height: 2em;
  margin-bottom: $space-lg;
}

.card {
  display: flex;
  align-items: center;
  padding: $space-md 0;
  margin-bottom: $space-sm;
}

.card-image {
  @include global-animation;
}

.bio {
  .card-image {
    width: 200px;
    max-width: 200px;
    max-height: 200px;
    margin-right: $space-md;
    &,
    img {
      border: 1px solid $borders-base;
    }
    border-radius: 50%;
    box-shadow: 0 2px 4px -2px rgba($primary-dark, 0.2);
  }
  .card-content {
    width: 100%;
  }
}

.tags {
  $margin: 3px;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -$margin;
  li {
    @include global-animation;
    cursor: default;
    background-color: lighten($borders-base, 6%);
    color: $primary-light;
    font-size: 16px;
    padding: $space-xs $space-sm 10px;
    border-radius: 2px;
    line-height: 1em;
    letter-spacing: 0.5px;
    margin: $margin $margin $margin * 2 $margin;
    margin-top: 0;
    text-shadow: 0 1px 0 $borders-light;
    font-size: 18px;
    font-weight: 300;
    &:hover {
      background-color: $borders-base;
      color: $primary-dark;
    }
  }
}