@import "../styles/variables";
@import "../styles/mixins";
@import "../styles/media-queries";

$borderRadius: 3px;

.inner {
  max-width: 700px;
}

.body {
  margin: $space-md 0 0 0;
}

.card-title {
  width: 100%;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: $space-sm;
  text-shadow: 0 1px 0 white;
}

.card-body {
  font-size: 14px;
  color: $primary-light;
  line-height: 2em;
  margin-bottom: $space-sm;
}

.card {
  display: flex;
  align-items: center;
  border: 1px solid $borders-base;
  background-color: lighten($bg-light, 2.2%);
  //   box-shadow: 0 2px 5px -3px rgba($bg-base, 0.15);
  padding: $space-md * 2 $space-md $space-md * 2 $space-md;
  border-radius: $borderRadius;
  margin-bottom: $space-sm;
}

.card-image {
  @include global-animation;
}

.bio {
  .card-image {
    width: 200px;
    max-width: 200px;
    max-height: 200px;
    margin-right: $space-md;
    &,
    img {
      border: 1px solid $borders-base;
    }
    border-radius: 50%;
    box-shadow: 0 2px 4px -2px rgba($primary-dark, 0.2);
  }
  .card-content {
    width: 60%;
  }
  ul {
    justify-content: start;
  }
}

.tech {
  $margin: 3px;
  ul {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0 -$margin;
  }
  li {
    @include global-animation;
    cursor: default;
    background-color: lighten($borders-base, 6%);
    color: $primary-light;
    font-size: 16px;
    padding: $space-xs $space-sm 10px;
    border-radius: 2px;
    line-height: 1em;
    letter-spacing: 0.5px;
    margin: $margin $margin $margin * 2 $margin;
    margin-top: 0;
    text-shadow: 0 1px 0 $borders-light;
    font-size: 18px;
    font-weight: 300;
    &:hover {
      background-color: $borders-base;
      color: $primary-dark;
    }
  }
}

.posts {
  .card-content {
    width: 100%;
  }
}
