@import "../styles/variables";
@import "../styles/mixins";

.main {
  text-align: center;
}

.inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content {
  margin: $space-md * 4 0 $space-md * 3 0;
}

.title {
  margin-bottom: $space-sm;
  h1 {
    font-size: 76px;
    line-height: 1;
  }
  strong {
    font-weight: 500;
  }
}

.body {
  margin-bottom: $space-md;
  p {
    @include primary-font;
    color: $primary-light;
    font-size: 22px;
    font-weight: 300;
  }
}

.icons {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  li:not(:last-child) {
    margin-right: $space-sm;
  }
  a {
    font-size: 30px;
    &:hover {
      transform: translateY(-2px);
    }
  }
}

.cta {
  width: 100%;
  padding: $space-lg * 2 0;
  h4 {
    font-size: 35px;
    margin-bottom: $space-xs;
  }
  p {
    font-weight: 300;
    @include primary-font;
    color: $primary-light;
    strong {
      font-weight: 300;
      color: $accent-base;
    }
  }
  span {
    color: $accent-base;
    margin: 0 1px;
    font-size: 14px;
  }
}
