@import "../styles/variables";
@import "../styles/mixins";
@import "../styles/media-queries.scss";

.main {
  text-align: center;
}

.inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content {
  margin: $space-md * 4 0 $space-md * 3 0;
  @include max-mobile {
    margin: $space-md * 3 0 $space-md * 2 0;
  }
}

.title {
  margin-bottom: $space-sm;
  @include max-tablet {
    margin-bottom: $space-md;
  }
  h1 {
    font-size: 76px;
    line-height: 1em;
    @include max-mobile {
      font-size: 65px;
    }
  }
  a {
    @include global-animation;
    font-weight: 500;
    &:hover {
      color: $accent-base;
      text-decoration: underline;
    }
  }
}

.body {
  margin-bottom: $space-md;
  p {
    @include primary-font;
    color: $primary-light;
    font-size: 22px;
    font-weight: 300;
    @include max-mobile {
      line-height: 1.3em;
    }
  }
}

.icons {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  li:not(:last-child) {
    margin-right: $space-sm;
  }
  span {
    @include global-animation;
  }
  a {
    font-size: 30px;
    &:hover span {
      color: $accent-base;
      transform: translateY(-2px);
    }
  }
}
