@import "../styles/_variables";
@import "../styles/_mixins";

.index {
  text-align: center;
  .inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: $space-md * 2;
  }
  .title {
    font-size: 76px;
    margin-bottom: $space-md;
    line-height: 1;
    strong {
      font-weight: 500;
    }
  }
  .body p {
    @include primary-font;
    color: $primary-light;
    font-size: 22px;
    font-weight: 300;
  }
}
