@import "../styles/variables";
@import "../styles/mixins";
@import "../styles/media-queries.scss";

.main {
  text-align: center;
}

.inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content {
  margin: $space-md * 4 0 $space-md * 3 0;
  @include max-mobile {
    margin: $space-md * 3 0 $space-md * 2 0;
  }
}

.title {
  margin-bottom: $space-sm;
  @include max-tablet {
    margin-bottom: $space-md;
  }
  h1 {
    font-size: 76px;
    line-height: 1em;
    @include max-mobile {
      font-size: 65px;
    }
  }
  a {
    @include global-animation;
    font-weight: 500;
    position: relative;
    &:hover {
      color: $accent-base;
      text-decoration: underline;

      &::after {
        color: $accent-light;
      }
    }
    &::after {
      @include global-animation;
      @include awesome-font;
      content: "\f059";
      color: $primary-light;
      position: absolute;
      top: 2px;
      right: -20px;
      bottom: 100%;
      font-size: 20px;
    }
  }
}

.body {
  margin-bottom: $space-md;
  p {
    @include primary-font;
    color: $primary-light;
    font-size: 22px;
    font-weight: 300;
    @include max-mobile {
      line-height: 1.3em;
    }
  }
}
