@import "../styles/_variables";
@import "../styles/_mixins";

.wrapper {
  text-align: center;
}

.title {
  font-size: 76px;
  margin-bottom: 30px;
  line-height: 1;
  strong {
    font-weight: 500;
  }
}

.body p {
  @include primary-font;
  color: $primary-light;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-bottom: 45px;
}
