@import "../styles/variables";
@import "../styles/media-queries";
@import "../styles/mixins";

$borderRadius: 3px;

.link {
  position: relative;
  height: auto;
  display: block;
  border-radius: $borderRadius;
  border: 1px solid $borders-base;
  box-shadow: 0 2px 5px -3px rgba($bg-base, 0.15%);
  margin: $space-xs;
  @include max-tablet {
    max-width: none;
  }

  img {
    border-radius: $borderRadius - 1;
  }

  &:hover {
    transform: scale(1.01);
    border: 1px solid $accent-light;
    box-shadow: 0 2px 7px -4px lighten($accent-base, 0.15%);
  }
}
