@import "../styles/variables";
@import "../styles/media-queries";
@import "../styles/mixins";

.no-data {
  width: 100%;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $error-dark;
  h4 {
    color: $error-dark;
    font-size: 35px;
  }
}

.archive {
  width: 100%;
  display: grid;
  grid-gap: $space-sm;
  grid-template-columns: auto auto;

  @include max-tablet {
    grid-template-columns: auto;
  }
}

.link {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid $borders-base;
  border-radius: 2px;
  box-shadow: 0 3px 4px -3px rgba($bg-base, 0.2);
  min-height: 287px;
  &:hover {
    border: 1px solid $accent-base;
    border-radius: 2px;
  }
}

.no-thumbnail {
  width: 100%;
  height: 100%;
  background-color: lightblue;
}

.metadata {
  @include global-animation;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  opacity: 0;

  h3 {
    width: 100%;
    font-size: 22px;
    color: #fff;
    font-weight: 300;
    display: flex;
    align-items: inherit;
    justify-content: center;
    height: 50px;
  }
}

.tags {
  height: 40px;
  width: 100%;
  align-self: flex-start;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  font-weight: 300;
  letter-spacing: 0.25px;
  margin-top: 8px;

  span {
    color: white;
    margin-right: 5px;

    &.fa {
      margin-right: 10px;
      margin-top: 2px;
      font-size: 14px;
    }
  }
}
