@import "../styles/variables";
@import "../styles/media-queries";
@import "../styles/mixins";

.archive {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  border-bottom: 1px solid $borders-light;
  padding-bottom: $space-md * 2;

  @include max-tablet {
    grid-template-columns: auto;
  }
  @include max-mobile {
    padding-bottom: $space-md;
  }
}
