@import "../styles/_variables";
@import "../styles/_media-queries";

footer {
  margin-top: $space-lg;
  height: $FOOTER_HEIGHT_DESKTOP;
  font-size: 15px;

  @include max-tablet {
    height: $FOOTER_HEIGHT_TABLET;
    font-size: 14px;
  }

  @include max-mobile {
    height: $FOOTER_HEIGHT_MOBILE;
  }

  align-items: center;
  justify-content: center;
  text-align: center;

  .meta {
    font-weight: 300;
    line-height: 1;
    margin-bottom: 5px;
    .copy {
      display: flex;
      justify-content: center;
      align-items: center;
      .fa {
        margin-right: 2px;
        font-size: 11px;
        margin-top: 2px;
      }
    }
    a {
      font-weight: 400;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
