@import "../styles/variables";
@import "../styles/mixins";
@import "../styles/media-queries.scss";

.social {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  li {
    margin: 0 $space-sm / 2;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  span {
    @include global-animation;
  }
  a {
    display: flex;
    align-items: center;
    &:hover span {
      color: $accent-base;
      transform: translateY(-2px);
    }
  }
}
